.checkout {
  background-color: #E6FFFD;
  display: flex;
  flex-direction: column;
  width: 100%;
 
}
.checkout_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  background-color:  #E6FFFD;
}
.chekout_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1rem;

  background-color: white;
  padding: 1rem;

}
.chekout_heading_priceTag {
  display: flex;
  flex: auto;
  justify-content: end;
  margin: 1rem;
  padding-bottom: 0.5rem;
}

.checkout_list {
  display: flex;
  flex-direction: column;
}

/* subtotal css */

.subtotal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between    ;
  width: 25rem;
  height: 10rem;
  padding: 1.2rem;
  background-color:  white;
  border:1px solid #dddddd;
  border-radius: 3px;
  margin: 20px;

}

.subtotal > p{
    width: 100%;
    display: flex;
}
p>small{
    margin: 2px;
}

.subtotal_gift{
    display: flex;
    align-items: center;
}

small > input{
    margin-right: 5px;
}
.checkout_btn{
    background-color:#B799FF;
    border: 1px solid gray;
    border-radius: 3px;
    width: 50%;
    height: 2rem;
    color: black;
    margin-top: 0.8rem;
}