.home {
  background-color: #e3e6e6;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
}

@media (max-width: 768px) {
  /* Styles for mobile devices */
  .home__slogan {
    background-color: red;
  }
}

.home_img {
  width: 100%;
  z-index: -1;

}

.home__slogan {
  display: flex;
  flex-flow: column;
  position: absolute;
  align-items: center;
  margin: 10px;
  top: 50%;
  left: 10%;
  width: 400px;
}
.home__slogan > p {
  margin: 10px;
}
.home__slogan > button {
  margin: 25px !important;
  width: 100px;
  height: 25px;
}
.home_row {
  z-index: 1;
  display: flex;
  flex-flow: row;

  width: auto;
}
